@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #dad3d3;
  height: 780px;
}

main {
  width: 350px;
  margin: 5rem auto;
  background-color: hsl(0, 0%, 98%);
  position: relative;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar {
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  height: 780px;
  background-color: #242221;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  margin: auto 2rem;
}

.nav-link {
  color: #686868;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mo-text a {
  color: #fff;
  background: #151515;
  padding: 0.8rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 1rem auto;
  width: 100px;
  font-size: 0.7rem;
}

.dropdown-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-list li a {
  text-decoration: none;
  color: #686868;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.active .dropdown-container a {
  display: block;
  color: chocolate;
}

.active .nav-link {
  color: #686262;
}

footer img {
  width: 70px;
}

.dropdown-container a img {
  margin-right: 0.8rem;
}

.active .nav-link img {
  transform: rotate(180deg);
  font-size: 1rem;
  color: red;
  border: 2px solid yellow;
}

.close-icon {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 11.5rem;
  padding-right: 1rem;
}

.login {
  color: #686868;
  font-size: 0.8rem;
  margin: 0 auto;
  cursor: pointer;
}

button {
  color: #686868;
  padding: 0.5rem 4rem;
  border-radius: 12px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* .second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.imgs-all {
  background-image: url('./images/image-hero-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin-top: 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #151515;
  margin-top: 2rem;
  text-align: center;
}

.text {
  font-size: 0.8rem;
  line-height: 18px;
  color: #686868;
  text-align: center;
  width: 280px;
  margin: 1rem auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 6rem;
}

.image-2 {
  width: 50px;
}

@media (min-width: 1200px) {
  body {
    font-family: 'Epilogue', sans-serif;
    background-color: #dad3d3;
    height: 700px;
  }

  main {
    width: 1200px;
    height: 650px;
    margin: 8rem auto;
  }

  .navbar {
    display: none;
  }

  .nav-header {
    padding: 1rem;
    margin-left: 2rem;
  }

  .login {
    color: #504d4d;
    font-size: 0.8rem;
    margin: 0 auto;
    cursor: pointer;
    margin-left: 33rem;
  }

  button {
    border: 1px solid #151515;
    padding: 0.5rem 2rem;
    margin-left: 1.2rem;
    background-color: #fff;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .nav-list li {
    margin-left: 1rem;
  }

  .second-content {
    margin-top: 3rem;
  }

  .imgs-all {
    background-image: url('./images/image-hero-desktop.png');
    background-size: contain;
    height: 340px;
    position: relative;
    left: 51rem;
    top: 3rem;
  }

  .mo-text {
    position: absolute;
    top: 10rem;
    left: 10rem;
    height: 640px;
  }

  .title {
    width: 440px;
    align-items: flex-start;
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
  }

  .text {
    width: 340px;
    text-align: left;
    padding-top: 2rem;
    margin: 0;
  }

  .mo-text a {
    margin: 2rem 0;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    margin-top: 1rem;
  }
}
